:host {
  @apply text-white w-40;
}

nav {
  background-color: var(--lighter);
}

button {
  @apply py-1 w-full flex items-start pl-10;
}

button:hover {
  background: var(--dark);
}

button.selected {
  background: var(--secondary); 
}

.logout {
  color: var(--secondary);
}
